python-dotenv
requests
numpy
pandas
scipy
scikit-learn
matplotlib
tqdm
unstructured
chromadb
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib 
markdownify
openai
langchain
langchain-core
langchain-chroma
langchain-community
langchain-pinecone
pinecone
plotly
jupyter